html{
    background-color: beige;
    min-height: 100vh;
}

footer{
    background-image: url("images/flower_footer.png");
    background-position: center bottom;
    background-repeat: repeat-x;
    background-size: contain;
    background-size: 30%;
    min-height: 100vh;
    z-index: -1;
}

img{
    max-width: 100%;
    max-height: auto;
}

p{
    background-color: beige;
}

.homepage{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.homepage header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-bottom: 30px;
}

.shop{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.shop-item-title{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
}

.shop-item-price{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: 20px;
}

.shop label{
    border:none;
    margin-bottom:0px;
}

#shop-form{
    width: auto;
}

.cart{
    background-color:burlywood;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cart-labels{
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    margin-left: 10px;
}

.cart-row{
    display: flex;
}

.cart-column{
    display: flex;
    align-items: center;
}

.cart-item{
    width: 20%;
}

.cart-price{
    width: 22%;
    font-size: 20px;
}

.cart-item-name{
    margin-left:10px;
    font-size:20px;
}

.cart h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
}

.cart-quantity{
    margin-left:10px;
    font-size:20px;
    margin-right:70px;
}

.cart-quantity-input{
    text-align: center;
    width: 15%;
}

.cart-total{
    margin-left: 10px;
    width: 22%;
    font-size: 20px;
}

.cart-total strong{
    font-size: 25px;
    text-align: right;
}

.cart-final-price{
    width: 22%;
    font-size: 25px;
}

.cart-add-btn{
    background-color: burlywood;
    align-self: center;
    width: 100px;
    transition:ease .1s;
}

.cart-add-btn:hover{
    background-color:cadetblue;
}

.rmv-button{
    margin-left: 50px;
    text-align:center;
    font-size:20px;
    vertical-align:middle;
    padding: 5px 10px;
    background-color:rgb(178, 124, 228);
    border: none;
    transition:ease .1s;
}

.rmv-button:hover{
    background-color: rgb(197, 155, 236);
}

@media only screen and (min-width: 769px){
    .shop p{
        text-indent: 30px;
        border-radius: 10px;
        margin-top:150px;
        margin-bottom: 0px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color:rgb(230, 213, 247);
    }

    .grid-container{
        margin: 20px;
        display: grid;
        grid-gap: 20px;
        column-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 300px;
    }

    .grid-item{
        border:solid 2px blueviolet;
        background-color: rgb(230, 213, 247);
        display: grid;
        align-items:last baseline;
    }

    .shop img{
        position: absolute;
        justify-self: center;
        align-self:baseline;
        border-radius: 10%;
        width: 16vh;
        height: 160px;
        object-fit: cover;
    }
}

@media only screen and (max-width: 480px){
    .shop p{
        text-indent: 0px;
        border-radius: 10px;
        margin-top:20px;
        margin-bottom: 0px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color:rgb(230, 213, 247);
    }

    .grid-container{
        margin: 10px;
        display: grid;
        grid-gap: 2px;
        column-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 30%;
    }

    .grid-item{
        border:solid 2px blueviolet;
        background-color: rgb(230, 213, 247);
        display: grid;
        align-items:last baseline;
    }

    .shop img{
        position: absolute;
        justify-self: center;
        align-self:baseline;
        border-radius: 10%;
        width: fit-content;
        height: 10%;
        object-fit: cover;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .shop p{
        text-indent: 30px;
        border-radius: 10px;
        margin-top:150px;
        margin-bottom: 0px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color:rgb(230, 213, 247);
    }

    .grid-container{
        margin: 15px;
        display: grid;
        grid-gap: 20px;
        column-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 200px;
    }

    .grid-item{
        border:solid 2px blueviolet;
        background-color: rgb(230, 213, 247);
        display: grid;
        align-items:last baseline;
    }

    .shop img{
        position: absolute;
        justify-self: center;
        align-self:baseline;
        border-radius: 10%;
        width: 10vh;
        height: 10%;
        object-fit: cover;
    }
}

@media only screen and (min-width: 769px){
    .mainNav{
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: burlywood;
    }

    .mainNav a{
        transition:ease .5s;
        font-size: 30px;
        float: left;
        text-align: center;
        padding: 10px 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
    }

    .drop-button{
        font-size: 30px;
        background-color: inherit;
        color: inherit;
        font-family: inherit;
        padding: 0;
        border: none;
    }

    .dropdown{
        position: relative;
        display: inline-block;
    }

    .drop-options{
        font-size: 15px;
        display: none;
        position: absolute;
        top:55px;
        z-index: 1;
        background-color: burlywood;
        box-shadow: 0px 8px 16px 0px black;
        min-width: 100px;
    }

    .drop-options a{
        float: none;
        display: block;
        padding: 10px 10px;
    }

    .mainNav a:hover, .drop-options:hover .drop-button{
        background-color: coral;
    }

    .dropdown:hover .drop-options{
        display: block;
    }
}

@media only screen and (max-width: 480px){
    .mainNav{
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: burlywood;
    }

    .mainNav a{
        transition:ease .5s;
        font-size: 10px;
        float: left;
        text-align: center;
        padding: 10px 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
    }

    .drop-button{
        font-size: 30px;
        background-color: inherit;
        color: inherit;
        font-family: inherit;
        padding: 0;
        border: none;
    }

    .dropdown{
        position: relative;
        display: inline-block;
    }

    .drop-options{
        font-size: 15px;
        display: none;
        position: absolute;
        top:60px;
        z-index: 1;
        background-color: burlywood;
        box-shadow: 0px 8px 16px 0px black;
        min-width: 100px;
    }

    .drop-options a{
        float: none;
        display: block;
        padding: 10px 10px;
    }

    .mainNav a:hover, .drop-options:hover .drop-button{
        background-color: coral;
    }

    .dropdown:hover .drop-options{
        display: block;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .mainNav{
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: burlywood;
    }

    .mainNav a{
        transition:ease .5s;
        font-size: 20px;
        float: left;
        text-align: center;
        padding: 10px 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: none;
    }

    .drop-button{
        font-size: 20px;
        background-color: inherit;
        color: inherit;
        font-family: inherit;
        padding: 0;
        border: none;
    }

    .dropdown{
        position: relative;
        display: inline-block;
    }

    .drop-options{
        font-size: 15px;
        display: none;
        position: absolute;
        top:60px;
        z-index: 1;
        background-color: burlywood;
        box-shadow: 0px 8px 16px 0px black;
        min-width: 100px;
    }

    .drop-options a{
        float: none;
        display: block;
        padding: 10px 10px;
    }

    .mainNav a:hover, .drop-options:hover .drop-button{
        background-color: coral;
    }

    .dropdown:hover .drop-options{
        display: block;
    }
}



.catalog-nav table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%
}

.catalog-nav table td{
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-width:fit-content;
    min-height:fit-content;
}

.catalog-items{
    padding:15px;
    border-radius: 10%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.catalog-nav img:hover{
    box-shadow: 0px 0px 10px 0px blueviolet;
}

table{
    border: solid 3pt blueviolet;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
}

td{
    padding: 10px;
    border: solid 1pt blueviolet;
}

th{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    padding: 2px;
    border: solid 1pt blueviolet;
}

table caption{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: rgb(178, 124, 228);
    padding:20px;
    border: solid 3pt blueviolet;
}

tbody tr{
    background-color: rgb(230, 213, 247);
}

.seasonal-table{
    font-size: 20px;
}

.seasonal-table table{
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

a{
    color: rgb(72, 7, 133);
}

a:hover{
    color: rgb(146, 14, 129);
}

h1, .flower-page h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.flower-page p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flower-page img{
    float: right;
    margin: 2em;
    max-width: 60%;
    max-height: 400px;
    object-fit: cover;
}

.login{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left:3%;
}

.login-form{
    align-items: center;
    padding: 5px;
}

.invalid-login{
    color: red;
    font-weight: lighter;
}

.login-submit-button{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(178, 124, 228);
}

* {
	box-sizing: border-box;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	height: 100%;
}
body {
	position: relative;
	min-height: 100%;
	margin: 0;
    margin-left:3%;
    margin-right:3%;
	padding-bottom: 100px; /* Same height as footer */
}
footer{
    margin-left: 0px;
    margin-right: 0px;
}
.content-wrapper {
	width: 1050px;
	margin: 0 auto;
}
header .content-wrapper {
	display: flex;
}
header h1 {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	font-size: 30px;
	margin: 0;
	padding: 24px 0;
}
header nav {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	justify-content: center;
	align-items: center;
}
header nav a {
	text-decoration: none;
	color: #555555;
	padding: 10px 10px;
	margin: 0 10px;
}
header nav a:hover {
	border-bottom: 1px solid #aaa;
}
header .link-icons {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
	justify-content: flex-end;
	align-items: center;
	position: relative;
}
header .link-icons a {
	text-decoration: none;
	color: #394352;
	padding: 0 10px;
}
header .link-icons a:hover {
	color: #4e5c70;
}
header .link-icons a i {
	font-size: 18px;
}
header .link-icons a span {
	display: inline-block;
	text-align: center;
	background-color: #63748e;
	border-radius: 50%;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 16px;
	width: 16px;
	height: 16px;
	font-weight: bold;
	position: absolute;
	top: 22px;
	right: 0;
}
main .featured {
	display: flex;
	flex-direction: column;
	background-image: url(imgs/featured-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	align-items: center;
	justify-content: center;
	text-align: center;
}
main .featured h2 {
	display: inline-block;
	margin: 0;
	width: 1050px;
	font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
	font-size: 68px;
	color: #FFFFFF;
	padding-bottom: 10px;
}
main .featured p {
	display: inline-block;
	margin: 0;
	width: 1050px;
	font-size: 24px;
	color: #FFFFFF;
}
main .recentlyadded h2 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid #EEEEEE;
}
main .recentlyadded .products, main .products .products-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0 0 0;
}
main .recentlyadded .products .product, main .products .products-wrapper .product {
	display: block;
	overflow: hidden;
	text-decoration: none;
	width: 25%;
	padding-bottom: 60px;
}
main .recentlyadded .products .product img, main .products .products-wrapper .product img {
	transform: scale(1);
	transition: transform 1s;
}
main .recentlyadded .products .product .name, main .products .products-wrapper .product .name {
	display: block;
	color: #555555;
	padding: 20px 0 2px 0;
}
main .recentlyadded .products .product .price, main .products .products-wrapper .product .price {
	display: block;
	color: #999999;
}
main .recentlyadded .products .product .rrp, main .products .products-wrapper .product .rrp {
	color: #BBBBBB;
	text-decoration: line-through;
}
main .recentlyadded .products .product:hover img, main .products .products-wrapper .product:hover img {
	transform: scale(1.05);
	transition: transform 1s;
}
main .recentlyadded .products .product:hover .name, main .products .products-wrapper .product:hover .name {
	text-decoration: underline;
}
main > .product {
	display: flex;
	padding: 40px 0;
}
main > .product > div {
	padding-left: 15px;
}
main > .product h1 {
	font-size: 34px;
	font-weight: normal;
	margin: 0;
	padding: 20px 0 10px 0;
}
main > .product .price {
	display: block;
	font-size: 22px;
	color: #999999;
}
main > .product .rrp {
	color: #BBBBBB;
	text-decoration: line-through;
	font-size: 22px;
	padding-left: 5px;
}
main > .product form {
	display: flex;
	flex-flow: column;
	margin: 40px 0;
}
main > .product form input[type="number"] {
	width: 400px;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	color: #555555;
	border-radius: 5px;
}
main > .product form input[type="submit"] {
	background: #4e5c70;
	border: 0;
	color: #FFFFFF;
	width: 400px;
	padding: 12px 0;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}
main > .product form input[type="submit"]:hover {
	background: #434f61;
}
main > .products h1 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
main > .products .buttons {
	text-align: right;
	padding-bottom: 40px;
}
main > .products .buttons a {
	display: inline-block;
	text-decoration: none;
	margin-left: 5px;
	padding: 12px 20px;
	border: 0;
	background: #4e5c70;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
}
main > .products .buttons a:hover {
	background: #434f61;
}
main .cart h1 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
main .cart table {
	width: 100%;
}
main .cart table thead td {
	padding: 30px 0;
	border-bottom: 1px solid #EEEEEE;
}
main .cart table thead td:last-child {
	text-align: right;
}
main .cart table tbody td {
	padding: 20px 0;
	border-bottom: 1px solid #EEEEEE;
}
main .cart table tbody td:last-child {
	text-align: right;
}
main .cart table .img {
	width: 80px;
}
main .cart table .remove {
	color: #777777;
	font-size: 12px;
	padding-top: 3px;
}
main .cart table .remove:hover {
	text-decoration: underline;
}
main .cart table .price {
	color: #999999;
}
main .cart table a {
	text-decoration: none;
	color: #555555;
}
main .cart table input[type="number"] {
	width: 68px;
	padding: 10px;
	border: 1px solid #ccc;
	color: #555555;
	border-radius: 5px;
}
main .cart .subtotal {
	text-align: right;
	padding: 40px 0;
}
main .cart .subtotal .text {
	padding-right: 40px;
	font-size: 18px;
}
main .cart .subtotal .price {
	font-size: 18px;
	color: #999999;
}
main .cart .buttons {
	text-align: right;
	padding-bottom: 40px;
}
main .cart .buttons input[type="submit"] {
	margin-left: 5px;
	padding: 12px 20px;
	border: 0;
	background: #4e5c70;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px;
}
main .cart .buttons input[type="submit"]:hover {
	background: #434f61;
}
main .placeorder h1 {
	display: block;
	font-weight: normal;
	margin: 0;
	padding: 40px 0;
	font-size: 24px;
	text-align: center;
	width: 100%;
}
main .placeorder p {
	text-align: center;
}
footer {
	position: absolute;
	bottom: 0;
	border-top: 1px solid #EEEEEE;
	width: 100%;
}

legend{
    font-size:large;
    font-weight:bold;
}

h1{
    font-size: 2em;
}